body {
  margin: 0;
  text-align: center;
}
#root {
  margin: 0;
  height: 100px;
  background-color: black;
}
.title {
  margin: 0;
  color: white;
}
#sideMenu {
  position: absolute;
  left: 0;
  top: 100px;
  height: 525px;
  width: 225px;
  margin-left: 0;
}
.beamInfo {
  height: 535px;
  display: inline-block;
  width: 100%;
}
#shopifyData {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-width: 1000px;
}
#searchField {
  position: relative;
  top: 10px;
  right: 30px;
}
#searchButton {
  position: relative;
  bottom: 46px;

  right: 25px;
}
#pageNav {
  position: relative;
  right: 125px;
  top: 477px;
}
#Button1 {
}
#Button2 {
}
#tableContainer {
  position: absolute;
  left: 225px;
  top: 100px;
  width: 81%;
  height: 500px;
}
#dataBase {
  display: none;
}
#filter {
  position: absolute;
  right: 50px;
  top: 35px;
}
.applyFilters {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 112px;
  visibility: hidden;
}
button:hover {
  color: skyblue;
}
