body {
  margin: 0;
  text-align: center;
}
#root {
  margin: 0;
  height: 100px;
  background-color: black;
}
.title {
  margin: 0;
  color: white;
}
#sideMenu {
  position: absolute;
  left: 0;
  top: 100px;
  height: 100%;
  width: 225px;
  margin-left: 0;
}
.beamInfo {
  height: 600px;
  display: inline-block;
  width: 100%;
}
#shopifyData {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-width: 1000px;
}
#searchField {
  position: relative;
  top: 10px;
}
#searchButton {
  position: relative;
  top: 10px;
}
#pageNav {
  position: relative;
  margin: auto;
  top: 565px;
}
#Button1 {
  background-color: #000957ff;
  color: white;
}
#Button2 {
  background-color: #000957ff;
  color: white;
}
#tableContainer {
  position: absolute;
  left: 225px;
  top: 100px;
  width: 81%;
  height: 600px;
  background-color: #fbffe2;
}
